<div class="container">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <a href="index.html" class="logo d-flex align-items-center w-auto">
              <img src="assets/logo.png" alt="">
            </a>
          </div><!-- End Logo -->

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Log in to your account</h5>
                <p class="text-center small">Enter your email and password to log in</p>
              </div>

              <form [formGroup]="loginForm" class="row g-3 needs-validation" (ngSubmit)="submitForm()" novalidate>

                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                    <input formControlName="email" type="email" name="email" class="form-control"
                      [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                      class="invalid-feedback">
                      Enter a valid email.
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <label for="password" class="form-label">Password</label>
                  <input formControlName="password" type="password" name="password" class="form-control"
                    [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="invalid-feedback">
                    Password required.
                  </div>
                </div>

                <!-- Error message when credentials are wrong -->
                <div *ngIf="credentialsWrong" class="col-12">
                  <div class="alert alert-danger" role="alert">
                    <strong>Incorrect email or password.</strong>
                    <p>Try changing the details and logging in again.</p>
                  </div>
                </div>

                <!-- Error message when there is a server error -->
                <div *ngIf="serverError" class="col-12">
                  <div class="alert alert-danger" role="alert">
                    <strong>Login error.</strong>
                    <p>An internal server error has occurred.</p>
                  </div>
                </div>
                <a routerLink="/register">You're not registered? Click Here</a>
                <a routerLink="/changePassword">Forgot password? Click Here</a>
                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid">Login</button>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

</div>