.alert{
    text-align: center;
    padding-bottom: 0;
    width: 100%;
}

.logo img {
    max-height: 120px;
}

.alert {
    padding: 15px; /* Aumenta il padding per maggiore spazio */
    border-radius: 5px;
    font-size: 14px; /* Regola il font per leggibilità */
    min-height: 50px; /* Imposta un'altezza minima per l'alert */
    display: flex;
    align-items: center; /* Allinea verticalmente il testo */
    justify-content: center; /* Centra il contenuto */
  }
  
  .custom-anchor {
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
  
    /* Hover effect senza sottolineatura */
    &:hover {
      color: var(--color-primary-dark);
      cursor: pointer;
    }
  
  }

  .squares {
    border-radius: 0px;
  }
  
