/* Center content around the middle of the card */
.custom-card-spacing {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  /* Responsive layout */
  @media (max-width: 768px) {
    .col-lg-4 {
      width: 100%;
      margin-bottom: 1rem;
    }
    .col-lg-8 {
      width: 100%;
    }
  }
  
  