<!-- Alert Page Communities -->
<div *ngIf="alert.alertCommunities.show && page == 'Communities'" [ngClass]="['alert', 'alert-' + alert.alertCommunities.type, 'alert-dismissible', 'fade', 'show']" role="alert">
    <div [innerHTML]="alert.alertCommunities.message"></div>
    <button type="button" class="btn-close" (click)="alert.alertCommunities.show=false" aria-label="Close"></button>
</div>

<!-- Alert Page Buildings -->
<div *ngIf="alert.alertBuildings.show && page == 'Buildings'" [ngClass]="['alert', 'alert-' + alert.alertBuildings.type, 'alert-dismissible', 'fade', 'show']" role="alert">
    <div [innerHTML]="alert.alertBuildings.message"></div>
    <button type="button" class="btn-close" (click)="alert.alertBuildings.show=false" aria-label="Close"></button>
</div>

<!-- Alert Page Apartments -->
<div *ngIf="alert.alertApartments.show && page == 'Apartments'" [ngClass]="['alert', 'alert-' + alert.alertApartments.type, 'alert-dismissible', 'fade', 'show']" role="alert">
    <div [innerHTML]="alert.alertApartments.message"></div>
    <button type="button" class="btn-close" (click)="alert.alertApartments.show=false" aria-label="Close"></button>
</div>

<!-- Alert Page Building Devices -->
<div *ngIf="alert.alertBuildingDevices.show && page == 'BuildingDevices'" [ngClass]="['alert', 'alert-' + alert.alertBuildingDevices.type, 'alert-dismissible', 'fade', 'show']" role="alert">
    <div [innerHTML]="alert.alertBuildingDevices.message"></div>
    <button type="button" class="btn-close" (click)="alert.alertBuildingDevices.show=false" aria-label="Close"></button>
</div>