<div class="container">
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <a href="index.html" class="logo d-flex align-items-center w-auto">
              <img src="assets/logo.png" alt="">
            </a>
          </div>

          <!-- Alert Section -->
          <div *ngIf="message" class="alert alert-{{messageType}} text-center" role="alert">
            {{ message }}
          </div>

          <div class="card mb-3">
            <div class="card-body">
              

              <!-- Email Form -->
              <div *ngIf="currentStep === 'email'">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Forgot Password</h5>
                  <p class="text-center small">Enter your email to reset your password</p>
                </div>

                <form [formGroup]="emailForm" class="row g-3 needs-validation" (ngSubmit)="submitEmail()" novalidate>
                  <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                      <input 
                        formControlName="email" 
                        type="email" 
                        name="email" 
                        class="form-control"
                        [class.is-invalid]="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
                      <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="invalid-feedback">
                        {{ emailForm.get('email')?.hasError('invalidEmail') ? 'Enter a valid email.' : 'Email is required.' }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button 
                        class="btn btn-primary w-100 position-relative" 
                        type="submit" 
                        [disabled]="loading || emailForm.invalid">
                        <span [class.invisible]="loading">Submit</span>
                        <div 
                            *ngIf="loading" 
                            class="position-absolute top-50 start-50 translate-middle d-flex align-items-center"
                        >
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                            Loading...
                        </div>
                    </button>
                 </div>
                </form>
              </div>

              <!-- Verification Code Form -->
              <div *ngIf="currentStep === 'verification'">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Enter Verification Code</h5>
                  <p class="text-center small">Check your email for the verification code</p>
                </div>

                <form [formGroup]="verificationForm" class="row g-3 needs-validation" (ngSubmit)="verifyCode()">
                  <div class="col-12 d-flex justify-content-between">
                    <input *ngFor="let control of ['code1', 'code2', 'code3', 'code4', 'code5']; let i = index"
                        [formControlName]="control"
                        type="text"
                        maxlength="1"
                        class="form-control text-center squares"
                        style="width: 48px; height: 48px; border-radius: 5px;"
                        (paste)="onPaste($event, i)">
                  </div>
                

                  <div class="col-12 text-center mt-3">
                    <a (click)="resendAuthCode()" class="outline-none custom-anchor">Resend Code</a>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit" [disabled]="verificationForm.invalid">Verify</button>
                  </div>
                </form>
              </div>

              <!-- Password Reset Form -->
              <div *ngIf="currentStep === 'resetPassword'">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Reset Your Password</h5>
                  <p class="text-center small">Enter and confirm your new password</p>
                </div>

                <form [formGroup]="passwordForm" class="row g-3 needs-validation" (ngSubmit)="resetPassword()">
                  <div class="col-12">
                    <label for="password" class="form-label">New Password</label>
                    <input 
                      formControlName="password" 
                      type="password" 
                      name="password" 
                      class="form-control"
                      [class.is-invalid]="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">
                    <div *ngIf="passwordForm.get('password')?.errors?.['required'] && passwordForm.get('password')?.touched" 
                      class="invalid-feedback">
                      Password is required.
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input 
                      formControlName="confirmPassword" 
                      type="password" 
                      name="confirmPassword" 
                      class="form-control"
                      [class.is-invalid]="passwordForm.errors?.['passwordMismatch'] && passwordForm.get('confirmPassword')?.touched">
                    <div *ngIf="passwordForm.errors?.['passwordMismatch'] && passwordForm.get('confirmPassword')?.touched" 
                      class="invalid-feedback">
                      Passwords do not match.
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit" [disabled]="passwordForm.invalid">Reset Password</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
